
.searchDiv{
    margin: 20px 0px;
    box-sizing: border-box;
    padding: 5px 0px;
}

.searchDiv input{
    width: 70%;
    height: 38px;
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
    border-right: none;
    padding: 2px 5px;
}

.searchDiv button{
    height: 43px;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    background-color: tomato;
    color: #fff;
    padding: 10px;
    border-left: none;
    cursor: pointer;
}